.title{
    text-align: center;
    color: #080808;
    font-size: 30px;
    font-weight: 500;
   
    margin: 70px 0 30px;
}
.h4{
    font-size: 20px;
    color: #00ee0c;
    margin-top: 5px ;
    text-transform: none;
}